<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>HoopUp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <div class="navbar">
            <div class="logo-links-container">
            <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='gplogo.png')}}" class="logo-link"></a>
            <div class="links-container">
            <a href="{{url_for('create_game')}}" class="links">Create Game</a>
            <a href="{{url_for('find_game')}}" class="links">Find Game</a>
            <a href="{{url_for('about')}}" class="links">About Us</a>            
            <button class="links logout-button"><a href="{{url_for('logout')}}">Logout</a></button>
        </div>
        </div>
        </div>
        <div class="hamburger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="mobile-menu">
            <a href="{{url_for('create_game')}}" class="mobile-links">Create Game</a>
            <a href="{{url_for('find_game')}}" class="mobile-links">Find Game</a>
            <a href="{{url_for('about')}}" class="mobile-links">About Us</a>
            <button class="mobile-links logout-button"><a href="{{url_for('logout')}}">Logout</a></button>
        </div>
        
        <!-- Welcome Section -->
        <div class="welcome-section">
            <h2>Welcome to GamePoint</h2>
            <p>
                Welcome to GamePoint! Here, you can create and find pickup games to join. Join our community to start taking your pickup games to the next level. If you are interested in a demo, please contact us and we'll try to provide a demo as best as we can. Thanks for using GamePoint to take your pickup games to the next level. 
            </p>
            
            <p>
                You can create a pickup game for any sport. If there's a sport that you're interested in but it's not an option, please email sharpkeen88@gmail.com and we'll try to add your sport as soon as possible.
            </p>

        </div>

        <!-- Pricing Section -->
        <div class="welcome-section">
            <h2>Pricing</h2>
            <p>
                As of now, creating and joining pickup games is completely free. Feel free to create as many pickup games as you'd like. We might add a subscription feature down the road but if you already have an account, you're good for now!
            </p>
            <p>
                Start creating pickup games now for free and take your games to the next level.
            </p>
        </div>

        <div class="footer">
            <div class="footer-links">
                <a href="{{ url_for('logout') }}">Logout</a> <span>|</span>
                <a href="{{ url_for('create_game') }}">Create Game</a> <span>|</span>
                <a href="{{ url_for('find_game') }}">Find Game</a> <span>|</span>
                <a href="{{url_for('about')}}">About Us</a> <span>|</span>
                <a href="{{url_for('privacy_policy')}}">Privacy Policy</a> <span>|</span>
                <a href="{{url_for('terms_of_use')}}">Terms of Use</a>
            </div>
        </div>

        </body>
    <script>
        const hamburgerMenu = document.querySelector('.hamburger-menu');
        const mobileMenu = document.querySelector('.mobile-menu');
        mobileMenu.style.display = 'none';
        hamburgerMenu.addEventListener('click', () => {
            if (mobileMenu.style.display === 'none' || mobileMenu.style.display === '') {
                mobileMenu.style.display = 'flex';
            } else {
                mobileMenu.style.display = 'none';
            }
        });
    </script>
</html>
